/* components container with white bg image */
.registrationpage-container {
    background-image: url('../../../../public/assets/log-sign-forms/login-register-bg.jpg');
    height: 100vh;
}

/* div used as a wrapper with linear colored bg  */
.register-bg-color-wrapper {
    background: rgb(73, 74, 0);
    background: radial-gradient(circle, rgba(73, 74, 0, 1) 0%, rgba(255, 224, 0, 1) 0%, rgba(216, 0, 255, 1) 100%);
    height: 100vh;
    opacity: 0.7;
    padding-top: 2.5rem;
}

/* big title with linear gradient colors  */
.register-title {
    font-family: var(--title-font);
    background: var(--linear-bg-r);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

/* linear colored underline for the title  */
.register-title::before {
    content: "";
    position: absolute;
    top: 65%;
    width: 60%;
    right: 20%;
    height: 5px;
    border-radius: 2px;
    background: var(--linear-bg-r);
}

/* register page form  */
.register-form {
    width: 35%;
    margin: auto;
    height: 90vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1)
}

/* text labels  */
.register-label {
    font-family: var(--text-font1);
    padding-left: 6rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    display: block;
}

/* register input fields  */
.register-input {
    display: block;
    height: 50px;
    width: 60%;
    margin: auto;
    outline: none;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid #000;
    text-indent: 0.5rem;
}

/* on focus changes color to gray  */
.register-input:focus {
    background-color: #eee;
}

/* log in paragraph  */
.register-link-paragraph {
    font-family: var(--text-font1);
    font-size: 14px;
    text-align: center;
}

/* log in paragraph link  */
.register-link-paragraph a {
    text-decoration: underline;
    color: var(--yellow);
}

/* when hovered changes the color to purple  */
.register-link-paragraph a:hover {
    color: var(--purple);
}

/* music app icon  */
.registerpage-icon {
    width: 120px;
    margin: auto;
    display: block;
    padding: 0 0 1.5rem 0;
}

/* linear colored button  */
.registrationpage-button {
    border: none;
    cursor: pointer;
    width: 60%;
    height: 50px;
    font-family: var(--text-font1);
    border-radius: 15px;
    color: black;
    font-weight: 500;
    font-size: 15px;
    display: block;
    margin: 2rem auto;
    transition: all 0.5s ease-in-out;
    background: var(--purple);
    background: var(--linear-bg-r);
    position: relative;
    overflow: hidden;
    opacity: 0.8;
}

/* on hover the button changes opaciti  */
.registrationpage-button:hover {
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

/* shine effect on button  */
.shine:after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 15em);
}

.shine:hover::after,
button:focus::after {
    animation: shine 1s forwards;
}

/* shine animation for button  */
@keyframes shine {
    100% {
        transform: rotateZ(60deg) translate(1em, -15em);
    }
}


/* validation  */
/* instructions appear to the screen if validation is not correct */
.reg-instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: var(--linear-bg-r);
    color: #000;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    font-family: var(--text-font1);
    padding-left: 20%;
}

/* moves the text away from the icon  */
.reg-instructions > svg {
    margin-right: 0.25rem;
}

/* removes the message from the screen  */
.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.reg-valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.reg-invalid {
    color: red;
    margin-left: 0.25rem;
}


/* error message appears */
.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.success-register-page {
    background-color: var(--yellow);
    height: 20vh;
    width: 40%;
    margin: auto;
}

.success-register-title {
    text-align: center;
    font-family: var(--title-font);
    color: var(--purple);
}