.main-page-search-title {
  font-family: var(--title-font);
  max-width: 600px;
  font-size: 3rem;
  background: var(--linear-bg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: auto;
  padding-top: 2rem;
}

/* .search-form {
  position: absolute;
  top: 35%;
  left: 60%;
  transform: translate(-50%, -50%);
  background: var(--purple);
  height: 40px;
  border-radius: 10px;
} */

.search-form {
  width: fit-content;
  align-items: center;
  background: var(--purple);
  height: 40px;
  border-radius: 10px;
  margin: auto;
  margin-top: 3rem;
}

.search-bar {
  outline: none;
  border: none;
  background: none;
  width: 0;
  padding: 0;
  color: var(--white-text);
  font-size: 16px;
  transition: .3s;
  line-height: 40px;
  overflow: hidden;
}

.search-bar::placeholder {
  color: #9e9e9e;
}

.search-bar:focus,
.search-bar:not(:placeholder-shown) {
  width: 240px;
  padding: 0 6px;
}

.search-form:hover .search-bar {
  width: 240px;
  padding: 0 6px;
}

.search-form:hover .search-bar-button,
.search-bar:focus+.search-bar-button,
.search-bar:not(:placeholder-shown)+.search-bar-button {
  background: var(--white-bg);
  color: var(--purple);
}

.search-bar-button {
  color: #fff;
  float: right;
  width: 40px;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 10px;
  background: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-bar-button:hover {

  transform: scale(1.1);
}

.search-buttons-container {
  display: flex;
  justify-content: center;
  width: 15%;
  margin: auto;
  margin-top: 2rem;
}

.search-buttons {
  background-color: var(--purple);
  color: white;
  border: none;
  outline: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  font-family: var(--text-font1);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.search-buttons:hover {
  background-color: var(--purple-dark);
}


input.search-bar[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}