.mainNavbar {
    height: 90px;
    /* background: rgb(33, 33, 33); */
    display: flex;
    background: #000;
    align-items: center;
    justify-content: space-between;
}

.mainNavbar-app-logo {
    width: 150px;
    /*     margin-left: 4rem; */
}

.user-info-container {
    /* width: 230px; */
    height: 70px;
    background-color: #000;
    border: 1px solid var(--yellow);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease-in-out;
    margin-right: auto;
}

.username-img-container {
    border: 1px solid var(--yellow);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.user-info-container:hover {
    background-color: #323232;
}

.dropdown-button {
    border: none;
    background: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    z-index: 100;
    width: 190px;
    left: 0;
    top: calc(100% + 0.5em);
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    border: 2px solid var(--purple);
    box-shadow: 0 2px 5px var(--purple);
    /* transform: translateY(-10px); */
    background: var(--dark-bg);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    padding: 5px;
}

.dropdown-menu>p {
    color: var(--purple);
    font-family: var(--text-font1);
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu>p:hover {
    color: var(--purple-dark);
}

.dropdown-menu>button {
    color: var(--purple);
    font-family: var(--text-font1);
    padding: 10px;
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 1rem;
}

.dropdown-menu>button:hover {
    color: var(--purple-dark);
}

/* .dropdown > .dropdown-button:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
} */

.dropdown-icons {
    padding-left: 5px;
}

.dropdown-breakline {
    width: 90%;
    margin-left: 0.5rem;
    border: 1px solid purple;
}

.mainNavbar-username {
    max-width: 140px;
    overflow: hidden;
    font-family: var(--text-font1);
    color: var(--white-text);
    padding-left: 1rem;
    cursor: pointer;
}

@media (max-width: 800px) {
    .mainNavbar-username {
        max-width: 80px;
        overflow: hidden;
        font-family: var(--text-font1);
        color: var(--white-text);
        padding-left: 1rem;
        cursor: pointer;
    }
}

.mainNavbar-username:hover {
    color: var(--yellow);
}

.three-dots-icon {
    color: #fff;
    cursor: pointer;
    padding-right: 1rem;
    padding-left: 1rem;
}

.three-dots-icon:hover {
    color: var(--purple);
}

.animated-logo {
    position: relative;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: aqua;
}

.mainNavbar-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 5%; */
    /*     width: 20%; */
    margin-right: 1rem;
}

.v-breakline-main {
    border-left: 3px solid #3f3f3f;
    height: 6vh;
}

.logout-button {
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
    color: var(--white-text);
    border: 2px solid var(--yellow);
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-family: var(--text-font1);
    border-radius: 15px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.logout-button:hover {
    background-color: #323232;
    transition: all 0.3s ease-in-out;
}

.sub-button {
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-family: var(--text-font1);
    border-radius: 15px;
    color: black;
    font-weight: 500;
    font-size: 15px;
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
    background: var(--purple);
    background: var(--linear-bg);
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}

.sub-button:hover {
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.shine:after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.shine:hover::after,
button:focus::after {
    animation: shine 1s forwards;
}

/* shine button animation */
@keyframes shine {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}