.main-page-create-playlist-title {
    font-family: var(--title-font);
    max-width: 600px;
    font-size: 3rem;
    background: var(--linear-bg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: auto;
    padding-top: 2rem;
}

.main-page-create-playlist-p {
    color: var(--white-text);
    font-family: var(--text-font1);
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 4rem;
}

.create-playlist-form {
    width: 50%;
    height: 60px;
    margin: auto;
    background: var(--linear-bg);
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 4rem;
    border-radius: 10px;
}

.add-playlist-icon {
    height: 60px;
    cursor: pointer;
    color: #000000;
    transition: all 0.3s ease-in-out;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.add-playlist-icon:hover {
    color: var(--yellow);
}

.create-playlist-input {
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    background: var(--linear-bg-r);
    font-size: 2rem;
    text-indent: 1rem;
    /* margin-left: 1rem; */
    border-radius: 10px;
}

::placeholder {
    color: #2f2e2e;
}